extends ../layout

block content 
    div(class="card")
        img(src="..." class="card-img-top" alt="...")
        div(class="card-body")
        h5(class="card-title") yes
        p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card’s content.
    ul(class="list-group list-group-flush")
      li(class="list-group-item") An item
      li(class="list-group-item") A second item
      li(class="list-group-item") A third item 
      li(class="list-group-item") A fourth item
      li(class="list-group-item") And a fifth oi
    div.card-body
        a(href="#" class="btn btn-primary") edit
        a(href="#" class="btn btn-primary") edit
