extends ../layout

block content 
    table(class="table table-striped")
      thead
        tr
          th.col Firstname
          th.col lastname
          th.col

      tbody
        each user in users
            tr
                th #{user.first_name}
                td #{user.last_name}
                td 
                    a.btn.btn-primary(href="/") details
                

    